* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Poppins,Monospace;

  }

.buttonBox{
    display:flex;
    flex-direction: column;
}

.key{
    width:20px;
    height:20px;
}

.rows{
    display:flex;
    gap:4px;
    /* width:auto: */
    height: 70px;
}

#calculatorBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:87vh;
    width:auto;
    border: ridge 10px black;
    padding:20px;
    border-radius: 20px;
    background-color: #4b3d3d;
}

.buttonBox{
    display:flex;
    width:400px;
    flex:1;  
    justify-content:space-evenly;
}

.key{
    background-color: #E4B1F0;
    border: solid 3px black;
    border-radius:5px;
    font-size:30px;
    flex:1;
    height:70px;
    width:100px;
    text-align: center;
    line-height: 30px;
    padding: 20px 0px;  
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: box-shadow 0.3s ease; 
    cursor:pointer;
}

.key:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


#screenBox{
    background-color: #F2E5BF;
    width:400px;
    height:80px;
    text-align:right;
    line-height: 100px;
    font-size:70px;
    border: solid 3px black;
}

main{
    display:flex;
    justify-content: center;    
    align-items: center;
    height:100vh;
}


#key_0{
    flex-grow:2.121;
}

body{
    background-color: #2d8ab5;
}

.pressed{
    opacity:0.8;
}

header{
    font-size: 50px;
    color:white;
    text-align: center;
    font-weight: 800;
}

.key.operator{
    background-color: #162233;
    color:white;
}

#key_modulus,#key_AC,.key.signChange{
    background-color: #f15010;
    color:rgb(0, 0, 0);
}

.key.equals{
    background-color: #6256CA;

}